### Working with Financial Data

Publicly traded companies are classified into one of 11 industry sectors, called GICS (Global Industry Classification Standard). Investors use these classes to design and construct portfolios, compare companies, evaluate industries, and isolate regional from global trends.

There are 11 GICS sectors

* Communication services
* Consumer discretionary
* Consumer staples
* Energy
* Financials
* Health care
* Industrials
* Information technology
* Materials
* Real estate
* Utilities


In this notebook we'll work with financial data, grouped by sector, to analyze different trends in companies and sectors listed on the S&P 500. 


Begin by loading the GICS sector mappings. They've been provided to you in a file called `gics.csv`

In [36]:
import pandas as pd
path = '/Users/dgriffis/code/glg/python-data-analysis-crash-course/data/'
gicsdf = pd.read_csv(path+'gics.csv')
gicsdf['Name'] = gicsdf['Name'].str.lower() # doing this for a later key match
#gicsdf.head()
print(gicsdf)

    Code                    Name
0     50  communication services
1     25  consumer discretionary
2     30        consumer staples
3     10                  energy
4     40              financials
5     35             health care
6     20             industrials
7     45  information technology
8     15               materials
9     60             real estate
10    55               utilities

Load the S&P 500 sector mappings and take a look at the data. The file is called `sp500-sector.csv`

In [37]:
sp500df = pd.read_csv(path+'sp500-sector.csv')
sp500df['Sector'] = sp500df['Sector'].str.lower() #doing this for a later key match
sp500df.head()

  Symbol                 Name                  Sector
0    MMM           3M Company             industrials
1    AOS      A.O. Smith Corp             industrials
2    ABT  Abbott Laboratories             health care
3   ABBV          AbbVie Inc.             health care
4    ACN        Accenture plc  information technology

Create a dataframe that has the S&P 500 stock symbols with the appropriate sector number. For example, `3M`, symbol `MMM` is in `industrials` which corresponds to sector 20.

In [38]:
sp500Gics = pd.merge(gicsdf,sp500df, left_on='Name', right_on='Sector', how='right')
sp500Gics = sp500Gics[['Name_y','Symbol','Sector','Code']]
sp500Gics.columns=['Name','Symbol','Sector','Code']
sp500Gics['Sector'] = sp500Gics['Sector'].str.title()
#sp500Gics['Code'][sp500Gics['Sector'] == 'Telecommunication Services'] = 50 #This causes a SettingwithCopyWarning
sp500Gics.loc[sp500Gics['Sector'] == 'Telecommunication Services','Code'] = 50 
sp500Gics.head()

sp500Gics[sp500Gics.Symbol == 'MMM']

           Name Symbol       Sector  Code
277  3M Company    MMM  Industrials  20.0

Working with strings in pandas can be much slower than working with integers and floats. Securities are typically represented by a security id, a numerical representation of the security. Ids have been provided in the file `sp500-ids.csv`. Load these into a dataframe and then generate a new dataframe that contains the columns `security_id` and `sector`.

In [39]:
sp500Ids = pd.read_csv(path+'sp500-ids.csv')
sp500Ids.head()

  Symbol  Security_id
0    MMM            1
1    AOS            2
2    ABT            3
3   ABBV            4
4    ACN            5

In [40]:
sp500SectorTickerId = pd.merge(sp500Gics, sp500Ids, on='Symbol')
sp500SectorTickerId = sp500SectorTickerId[['Sector','Security_id']]
sp500SectorTickerId.head()

                   Sector  Security_id
0  Consumer Discretionary            9
1  Consumer Discretionary           31
2  Consumer Discretionary           54
3  Consumer Discretionary           62
4  Consumer Discretionary           72

Load the file `sp500-5yr.csv` into a dataframe. This file contains 5 years worth of historical prices for securities listed on the S&P 500. Convert the symbols into security ids, and bring in the sector colums as well.

In [41]:
sp5005yr = pd.read_csv(path+'sp500-5yr.csv')
#sp5005yr
#merge the merge
sp5005yrMerged = pd.merge(pd.merge(sp5005yr, sp500Ids, left_on='symbol', right_on='Symbol'),sp500SectorTickerId, on='Security_id')
sp5005yrMerged = sp5005yrMerged.drop(columns=['symbol','Symbol'])
sp5005yrMerged.head()

         date   open   high    low  close    volume  Security_id       Sector
0  2013-02-08  15.07  15.12  14.63  14.75   8407500           33  Industrials
1  2013-02-11  14.89  15.01  14.26  14.46   8882000           33  Industrials
2  2013-02-12  14.45  14.51  14.10  14.27   8126000           33  Industrials
3  2013-02-13  14.30  14.94  14.25  14.66  10259500           33  Industrials
4  2013-02-14  14.94  14.96  13.16  13.99  31879900           33  Industrials

Determine which sectors had the best performance for the past year, past three years and past five years. Note the start and end dates on the dataset.

In [42]:
#close at start of year compared to close at end of year
#for each security get the start and end close
df1_yr = sp5005yrMerged.loc[sp5005yrMerged['date'].isin(['2017-02-07', '2018-02-07'])]
df1_yr = df1_yr.reset_index(drop=True)
df1_yr

,date,open,high,low,close,volume,Security_id,Sector
0,2017-02-07,45.750,46.1300,45.0100,45.17,6119960,33,Industrials
1,2018-02-07,50.910,51.9800,50.8900,51.40,4845831,33,Industrials
2,2017-02-07,130.540,132.0900,130.4500,131.53,38183841,52,Information Technology
3,2018-02-07,163.085,163.4000,159.0685,159.54,51608580,52,Information Technology
4,2017-02-07,161.210,162.0600,157.7800,159.18,1191286,9,Consumer Discretionary
5,2018-02-07,112.090,114.5799,109.9000,109.93,2163545,9,Consumer Discretionary
6,2017-02-07,60.650,60.8700,60.4000,60.56,4210335,4,Health Care
7,2018-02-07,111.520,116.8500,111.3800,113.62,10030837,4,Health Care
8,2017-02-07,89.850,91.6400,89.7100,90.33,2108481,40,Health Care
9,2018-02-07,91.600,95.3400,91.1000,94.22,2509484,40,Health Care
10,2017-02-07,42.570,42.9800,42.5040,42.89,8697290,3,Health Care
11,2018-02-07,58.600,59.8500,58.5000,58.67,6872663,3,Health Care
12,2017-02-07,115.000,116.1700,114.9500,115.92,2538228,5,Information Technology
13,2018-02-07,154.220,158.9300,153.0700,155.15,2918659,5,Information Technology
14,2017-02-07,114.830,115.1900,114.5400,114.96,1643454,8,Information Technology
15,2018-02-07,193.870,196.2400,192.0200,192.34,2988024,8,Information Technology
16,2017-02-07,75.690,76.5800,75.3900,76.31,2136116,45,Information Technology
17,2018-02-07,86.750,87.9500,85.2900,85.35,4555784,45,Information Technology
18,2017-02-07,42.960,45.0500,41.7400,44.59,7474357,55,Consumer Staples
19,2018-02-07,42.310,43.0500,42.1700,42.19,4587806,55,Consumer Staples
20,2017-02-07,96.500,96.8600,95.9100,96.29,1521355,61,Information Technology
21,2018-02-07,112.090,115.6800,111.6900,113.56,2625896,61,Information Technology
22,2017-02-07,82.290,85.1100,81.8000,84.50,2975440,60,Information Technology
23,2018-02-07,111.770,113.5600,110.5100,110.54,1599666,60,Information Technology
24,2017-02-07,226.110,227.6600,224.7150,225.11,594517,25,Information Technology
25,2018-02-07,240.080,249.7300,240.0800,246.75,828933,25,Information Technology
26,2017-02-07,52.740,52.8800,52.5600,52.68,544302,32,Utilities
27,2018-02-07,53.000,53.8200,52.8000,53.19,2669942,32,Utilities
28,2017-02-07,63.820,64.0100,63.5600,63.93,1552844,34,Utilities
29,2018-02-07,64.920,65.4400,64.3600,64.45,5927662,34,Utilities
...,...,...,...,...,...,...,...,...
961,2017-02-07,96.870,97.2910,96.5300,97.01,1903166,496,Consumer Discretionary
962,2018-02-07,175.560,180.1000,172.9500,177.32,15719925,496,Consumer Discretionary
963,2017-02-07,80.290,80.8800,80.1850,80.50,1069860,495,Consumer Discretionary
964,2018-02-07,119.430,120.7800,118.4100,118.72,790796,495,Consumer Discretionary
965,2017-02-07,31.560,32.1750,31.3000,32.05,5699380,491,Real Estate
966,2018-02-07,34.500,35.1600,34.4600,34.52,4260231,491,Real Estate
967,2017-02-07,129.660,129.8600,126.1100,127.38,2061256,111,Energy
968,2018-02-07,108.440,110.2400,105.7100,105.91,1385702,111,Energy
969,2017-02-07,41.490,41.7474,41.4400,41.66,2972149,497,Utilities
970,2018-02-07,41.570,43.2900,41.5100,42.46,3961146,497,Utilities
971,2017-02-07,58.340,58.4698,58.0000,58.09,1216701,499,Information Technology
972,2018-02-07,68.340,69.0200,66.9600,66.97,1984773,499,Information Technology
973,2017-02-07,39.020,39.3750,38.9000,38.94,1979374,500,Financials
974,2018-02-07,37.410,42.3900,37.3700,42.00,22101716,500,Financials
975,2017-02-07,83.230,83.6200,82.4500,82.77,11705199,186,Energy
976,2018-02-07,78.440,79.4100,76.9200,76.94,21994450,186,Energy
977,2017-02-07,57.470,57.5900,56.9400,57.43,1520561,144,Health Care
978,2018-02-07,58.090,59.1500,54.2800,58.30,2284053,144,Health Care
979,2017-02-07,28.320,28.5400,28.1600,28.28,2801453,498,Information Technology
980,2018-02-07,30.730,31.4050,30.7300,31.18,2983504,498,Information Technology
981,2017-02-07,47.270,47.8400,46.7800,47.22,1841515,501,Industrials
982,2018-02-07,71.270,72.8600,71.1200,71.79,1748941,501,Industrials
983,2017-02-07,66.480,66.8800,66.3900,66.49,1495870,502,Consumer Discretionary
984,2018-02-07,80.070,81.9400,80.0000,80.13,3561068,502,Consumer Discretionary
985,2017-02-07,117.830,118.3800,117.1100,118.11,800086,503,Health Care
986,2018-02-07,121.650,123.5200,120.7400,120.78,1145267,503,Health Care
987,2017-02-07,43.050,43.2600,42.6800,42.82,1741482,504,Financials
988,2018-02-07,52.230,54.3150,52.2200,54.02,6427280,504,Financials
989,2017-02-07,56.110,56.3200,55.6850,55.98,2402728,505,Health Care
990,2018-02-07,72.700,75.0000,72.6900,73.86,4534912,505,Health Care

In [43]:
df3_yr = sp5005yrMerged.loc[sp5005yrMerged['date'].isin(['2015-02-06', '2018-02-07'])]
df3_yr = df3_yr.reset_index(drop=True)
df3_yr

df5_yr = sp5005yrMerged
df5_yr.head()

         date   open   high    low  close    volume  Security_id       Sector
0  2013-02-08  15.07  15.12  14.63  14.75   8407500           33  Industrials
1  2013-02-11  14.89  15.01  14.26  14.46   8882000           33  Industrials
2  2013-02-12  14.45  14.51  14.10  14.27   8126000           33  Industrials
3  2013-02-13  14.30  14.94  14.25  14.66  10259500           33  Industrials
4  2013-02-14  14.94  14.96  13.16  13.99  31879900           33  Industrials

In [44]:

#combine the two rows for each security into one row 
df1_yr['Performance'] = df1_yr['close'].groupby(df1_yr['Security_id']).pct_change() * 100
df1_yr = df1_yr[df1_yr['Performance'].notnull()]
df1_yr

,date,open,high,low,close,volume,Security_id,Sector,Performance
1,2018-02-07,50.910,51.9800,50.8900,51.40,4845831,33,Industrials,13.792340
3,2018-02-07,163.085,163.4000,159.0685,159.54,51608580,52,Information Technology,21.295522
5,2018-02-07,112.090,114.5799,109.9000,109.93,2163545,9,Consumer Discretionary,-30.939817
7,2018-02-07,111.520,116.8500,111.3800,113.62,10030837,4,Health Care,87.615588
9,2018-02-07,91.600,95.3400,91.1000,94.22,2509484,40,Health Care,4.306432
11,2018-02-07,58.600,59.8500,58.5000,58.67,6872663,3,Health Care,36.791793
13,2018-02-07,154.220,158.9300,153.0700,155.15,2918659,5,Information Technology,33.842305
15,2018-02-07,193.870,196.2400,192.0200,192.34,2988024,8,Information Technology,67.310369
17,2018-02-07,86.750,87.9500,85.2900,85.35,4555784,45,Information Technology,11.846416
19,2018-02-07,42.310,43.0500,42.1700,42.19,4587806,55,Consumer Staples,-5.382373
21,2018-02-07,112.090,115.6800,111.6900,113.56,2625896,61,Information Technology,17.935403
23,2018-02-07,111.770,113.5600,110.5100,110.54,1599666,60,Information Technology,30.816568
25,2018-02-07,240.080,249.7300,240.0800,246.75,828933,25,Information Technology,9.613078
27,2018-02-07,53.000,53.8200,52.8000,53.19,2669942,32,Utilities,0.968109
29,2018-02-07,64.920,65.4400,64.3600,64.45,5927662,34,Utilities,0.813390
31,2018-02-07,10.600,10.7800,10.4650,10.48,8786251,11,Utilities,-8.311461
33,2018-02-07,181.490,184.1200,181.3900,181.49,2123860,12,Health Care,50.401923
35,2018-02-07,85.440,87.1099,85.2700,85.60,2321841,14,Financials,24.111933
37,2018-02-07,168.930,172.9800,167.0700,170.39,3722660,24,Health Care,-26.748635
39,2018-02-07,60.000,61.3000,59.6800,60.47,7719767,36,Financials,-6.797164
41,2018-02-07,39.560,40.2800,39.2100,39.21,1042133,51,Real Estate,-12.262251
43,2018-02-07,88.040,89.7200,87.2100,88.49,455944,58,Financials,-8.773196
45,2018-02-07,65.360,67.2500,65.2300,66.11,1247795,57,Financials,22.584832
47,2018-02-07,67.750,68.6500,64.3100,64.48,9634937,17,Information Technology,-9.336333
49,2018-02-07,107.460,109.4800,106.5600,106.63,1668253,19,Materials,14.903017
51,2018-02-07,241.000,242.2200,233.6000,234.33,1160687,22,Health Care,150.218900
53,2018-02-07,63.140,64.9600,63.0400,64.23,2025459,18,Industrials,-31.742827
55,2018-02-07,79.740,81.2000,79.7400,79.96,578408,23,Industrials,19.307669
57,2018-02-07,96.140,98.2950,95.9151,96.87,3174347,27,Financials,24.001536
59,2018-02-07,113.950,119.1200,113.5900,117.15,2695826,21,Health Care,-8.275916
...,...,...,...,...,...,...,...,...,...
932,2018-02-07,53.130,54.1200,52.8200,52.97,3266384,472,Real Estate,-14.301893
934,2018-02-07,50.630,51.9300,50.5000,51.01,16066607,475,Telecommunication Services,6.182348
936,2018-02-07,120.090,122.4600,119.2100,119.65,9293996,478,Information Technology,39.484728
938,2018-02-07,202.200,204.9850,201.8700,201.98,389289,484,Health Care,37.112212
940,2018-02-07,71.340,73.2000,71.1600,71.53,4328790,482,Consumer Staples,-12.157681
942,2018-02-07,83.950,85.3200,83.1000,83.71,3737728,488,Information Technology,5.895003
944,2018-02-07,60.200,60.9900,59.8200,59.86,1904680,485,Utilities,3.385147
946,2018-02-07,56.940,58.1150,56.7500,57.54,45550954,486,Financials,2.129925
948,2018-02-07,173.190,176.4600,171.4700,171.52,862497,492,Consumer Discretionary,-1.084198
950,2018-02-07,157.660,160.1400,156.9700,157.38,972858,494,Financials,27.495139
952,2018-02-07,30.080,30.6900,30.0000,30.00,7717391,493,Energy,5.152471
954,2018-02-07,100.500,104.5900,100.0100,102.85,11165223,481,Consumer Staples,53.759904
956,2018-02-07,81.880,83.4700,81.6300,81.73,2842171,483,Industrials,16.924177
958,2018-02-07,64.390,65.9400,64.1400,64.42,2440702,490,Materials,19.517625
960,2018-02-07,19.730,20.0500,19.4300,19.49,4430789,489,Information Technology,-1.764113
962,2018-02-07,175.560,180.1000,172.9500,177.32,15719925,496,Consumer Discretionary,82.785280
964,2018-02-07,119.430,120.7800,118.4100,118.72,790796,495,Consumer Discretionary,47.478261
966,2018-02-07,34.500,35.1600,34.4600,34.52,4260231,491,Real Estate,7.706708
968,2018-02-07,108.440,110.2400,105.7100,105.91,1385702,111,Energy,-16.855079
970,2018-02-07,41.570,43.2900,41.5100,42.46,3961146,497,Utilities,1.920307
972,2018-02-07,68.340,69.0200,66.9600,66.97,1984773,499,Information Technology,15.286624
974,2018-02-07,37.410,42.3900,37.3700,42.00,22101716,500,Financials,7.858243
976,2018-02-07,78.440,79.4100,76.9200,76.94,21994450,186,Energy,-7.043615
978,2018-02-07,58.090,59.1500,54.2800,58.30,2284053,144,Health Care,1.514888
980,2018-02-07,30.730,31.4050,30.7300,31.18,2983504,498,Information Technology,10.254597
982,2018-02-07,71.270,72.8600,71.1200,71.79,1748941,501,Industrials,52.033037
984,2018-02-07,80.070,81.9400,80.0000,80.13,3561068,502,Consumer Discretionary,20.514363
986,2018-02-07,121.650,123.5200,120.7400,120.78,1145267,503,Health Care,2.260605
988,2018-02-07,52.230,54.3150,52.2200,54.02,6427280,504,Financials,26.156002
990,2018-02-07,72.700,75.0000,72.6900,73.86,4534912,505,Health Care,31.939979

In [45]:
#df1_yr.dtypes
df1_yr.groupby(['Sector'])['Performance'].median().sort_values(ascending=False)

Sector
Information Technology        29.940394
Health Care                   20.188876
Financials                    18.400520
Industrials                   18.034414
Consumer Discretionary        16.383192
Materials                     14.051369
Utilities                      0.926128
Energy                        -2.194999
Consumer Staples              -2.669081
Real Estate                   -9.694978
Telecommunication Services   -10.189689
Name: Performance, dtype: float64

Imagine two portfolios, one comprised of the securites represented by even ids and one by odd ids. Which portfolio has had the best performance over the 1,3 and 5 year time windows?

Combine these two portfolios into a single portfolio. What was the overall performance of the SP500 for the same time periods?